@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"), local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.01em;
  background: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Общие свойства*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.default-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  display: inline-block;
  position: relative;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  z-index: 0;
  width: 100%;
  height: 8px;
  background: #f0c52e;
}

.button span {
  position: relative;
  z-index: 1;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background: #f0c52e;
}

/*Хедер*/

.header {
  position: relative;
  margin-top: 40px;
  padding: 33px 60px 47px;
  background: #f7e296;
}

.nav-header__user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 27px;
}

.nav-header__logo {
  position: absolute;
  top: -24px;
  left: 58px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  text-transform: uppercase;
}

.nav-header__logo[href]:hover,
.nav-header__logo[href]:focus {
  color: rgba(0, 0, 0, 0.6);
}

.nav-header__logo[href]:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search {
  position: relative;
  display: flex;
  width: 500px;
}

.user-nav__search::before {
  content: "";
  left: 2px;
  top: calc(50% - 8px);
  position: absolute;
  width: 16px;
  height: 16px;
  background: url("../img/search.svg") no-repeat;
}

.user-nav__search input,
.user-nav__search button {
  font: inherit;
  color: #000000;
  letter-spacing: 0.01em;
  background: transparent;
}

.user-nav__search input {
  width: 355px;
  padding: 9px 15px 9px 38px;
  border: none;
  border-bottom: 2px solid transparent;
}

.user-nav__search button {
  display: none;
  padding: 0 19px;
  border: 2px solid #000000;
  cursor: pointer;
}

.user-nav__search button:hover,
.user-nav__search button:focus {
  color: #ffffff;
  background: #000000;
}

.user-nav__search button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #000000;
}

.user-nav__search input:focus + button {
  display: block;
}

.user-nav__search input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.user-nav__search input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__search input:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search input:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search input:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__search input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav__authorization {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  width: 277px;
}

.user-nav__link {
  position: relative;
  color: #000000;
}

.user-nav__link:hover,
.user-nav__link:focus {
  opacity: 0.6;
}

.user-nav__link:active {
  opacity: 0.3;
}

.user-nav__exit {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav__compare,
.user-nav__basket {
  width: 100px;
  margin: 0;
  text-align: right;
}

.user-nav__link--hidden {
  display: none;
}

.user-nav__input,
.user-nav__profile {
  padding-left: 27px;
}

.user-nav__input::before,
.user-nav__profile::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 6px);
  width: 13px;
  height: 12px;
  background: url("../img/user.svg") no-repeat;
}

.user-nav__profile {
  margin-right: 18px;
}

.user-nav__compare {
  margin-right: 23px;
}

.user-nav__compare a {
  padding-left: 20px;
}

.user-nav__compare a::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background: url("../img/compare.svg") no-repeat;
}

.user-nav__basket a {
  padding-left: 22px;
}

.user-nav__basket a::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  background: url("../img/basket.svg") no-repeat;
}

.nav-header__site {
  display: flex;
  flex-wrap: wrap;
}

.site-nav__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-nav__catalog {
  position: relative;
  padding-right: 29px;
}

.site-nav__catalog::before,
.site-nav__catalog::after {
  content: "";
  position: absolute;
  right: 0;
  top: calc(50% - 1px);
  width: 16px;
  height: 2px;
  background: #b8a974;
}

.site-nav__catalog::after {
  transform: rotate(90deg);
}

.nav-header__site > li:not(:first-child) {
  width: 160px;
}

.nav-header__site > li:first-child {
  width: 280px;
  margin-right: auto;
}

.nav-header__site > li:last-child {
  margin-left: 20px;
  text-align: right;
}

.site-nav__submenu {
  position: absolute;
  left: 0;
  z-index: 2;
  display: none;
  width: 1160px;
  padding: 18px 60px 34px;
  background: #f7e296;
}

/*Подменю*/

.submenu__list {
  width: 200px;
}

.submenu__link {
  line-height: 36px;
  color: #000000;
}

.submenu__link:hover,
.submenu__link:focus {
  color: rgba(0, 0, 0, 0.6);
}

.submenu__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.submenu__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.submenu__list:first-child {
  margin-right: 40px;
}

.site-nav__catalog:hover + .site-nav__submenu,
.site-nav__catalog:focus + .site-nav__submenu {
  display: block;
}

/*Слайдер*/

.slider {
  position: relative;
  min-height: 510px;
  margin-bottom: 83px;
}

.slider__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 1160px;
  height: 113px;
  background-color: #f7e296;
}

.slider__item {
  position: relative;
  z-index: 1;
}

.slider__wrapper {
  display: flex;
}

.slider--show {
  display: block;
}

.slider--hidden {
  display: none;
}

.slider__image,
.slider__content {
  width: 560px;
}

.slider__image {
  margin-right: 40px;
  text-align: center;
}

.slider__item-2 .slider__image {
  padding-top: 15px;
  padding-left: 20px;
}

.slider__item-3 .slider__image {
  padding-top: 65px;
  padding-left: 25px;
}

.slider__content {
  position: relative;
}

.slider__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 37px;
  width: 100px;
  height: 7px;
  background: #ffffff;
}

.slider__title {
  position: relative;
  z-index: 1;
  width: 510px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.slider__desc {
  width: 485px;
  margin: 0;
  margin-bottom: 41px;
  color: #464646;
}

.slider__number {
  position: absolute;
  right: 50px;
  top: 11px;
  z-index: 0;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 179.2px;
  line-height: 131px;
  font-weight: 800;
  color: #ffffff;
}

.slider__button {
  min-width: 220px;
  margin-bottom: 45px;
  padding: 11px 42px;
}

.slider__controls {
  position: absolute;
  right: 0;
  bottom: 161px;
  z-index: 2;
  display: flex;
  width: 160px;
}

.controls {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  background: none;
  border: 0;
}

.controls::before,
.controls--current::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.controls--current::after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 4px;
  width: 4px;
  height: 4px;
  border: 1px solid #000000;
  border-radius: 50%;
}

.slider__button-controls {
  margin-bottom: 45px;
}

.slider__table {
  border-collapse: collapse;
}

.slider__table td, th {
  width: 160px;
}

.slider__table th:nth-child(2),
.slider__table td:nth-child(2) {
  width: 140px;
}

.slider__table th {
  padding-top: 8px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
  text-align: left;
}

.slider__table td {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

/*Популярные товары*/

.popular {
  margin-bottom: 80px;
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
}

.popular__item {
  width: 160px;
  margin-right: 40px;
}

.popular__item:nth-child(6n) {
  margin-right: 0;
}

.popular__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
  background: rgba(240, 197, 46, 0.5);
}

.popular__image-2 {
  align-self: flex-end;
}

.popular__link {
  display: block;
}

.popular__link:hover .popular__image,
.popular__link:focus .popular__image {
  background: #f0c52e;
}

.popular__link:active .popular__title,
.popular__link:active .popular__image img {
  opacity: 0.3;
}

.popular__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

/*Сервисы*/

.services {
  position: relative;
}

.services__background {
  position: absolute;
  bottom: 0;
  z-index: 0;
  width: 100vw;
  height: 288px;
  background: #e5e5e5;
}

.services__button,
.services__slider {
  position: relative;
  z-index: 1;
}
