@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    local("Open Sans"), local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src:
    local("Gilroy Light"), local("Gilroy-Light"),
    url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
    url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
          box-sizing: inherit;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.default-list {
  margin: 0;
  padding: 0;
  list-style: none;
}